In [1]:
import pandas as pd

In [9]:
#reading in alpha shifted values:

data = pd.read_csv("C:\\Users\\alica\\workspace\\Intro-2-Spectra\\analysis\\NEID_analysis\\alpha_tau_ceti_shifted_values.csv")
pd.set_option('display.max_rows', 10)
display(data)

,Unnamed: 0,shifted wavelengths,shifted fluxs
0,0,[4020.56610385 4020.57951501 4020.59292622 ......,[0.62022389 0.60594888 0.58925493 ... 0.657996...
1,1,[4047.36164688 4047.37514743 4047.38864802 ......,[0.70525603 0.53839194 0.596527 ... 0.753954...
2,2,[4074.54993908 4074.56353032 4074.5771216 ......,[0.94266745 0.83923604 0.69511585 ... 0.962318...
3,3,[4102.07150221 4102.08518524 4102.09886833 ......,[0.25037037 0.50924703 0.26848231 ... 0.650823...
4,4,[4129.96984742 4129.98362352 4129.99739966 ......,[0.55137117 0.47534296 0.44582643 ... 0.844829...
...,...,...,...
20,20,[4634.44636702 4634.46182587 4634.47728477 ......,[1.03652272 0.88343208 0.88761193 ... 1.034561...
21,21,[4670.09780023 4670.113378 4670.12895582 ......,[0.70412481 0.66756874 0.77346294 ... 0.867277...
22,22,[4706.30629579 4706.32199434 4706.33769294 ......,[0.82203063 0.82631417 0.95597229 ... 0.934816...
23,23,[4743.07683161 4743.09265281 4743.10847407 ......,[0.78141367 0.87857109 0.8929465 ... 0.858571...
24,24,[4780.42448815 4780.44043393 4780.45637977 ......,[0.82531336 0.82074726 0.86289325 ... 0.961146...