# Data 8 Grade Calculator

In [4]:
#libraries 

import numpy as np
from datascience import *

In [70]:
#creating data
hw_earned = sum(make_array(92, 100, 84, 105, 105, 86.1, 99.5))
hw_tot = sum(make_array(100, 100, 100, 100, 100, 100, 98.5))

lab_earned = sum(make_array(100, 100, 100, 100, 100, 0, 100))
lab_total = sum(make_array(100,100,100,100,100,100,100))

project_earned = sum(make_array(94.67))
project_total = sum(make_array(100))

midterm_earned = 68
midterm_total = 81

final_earned = 1
final_total = 1 

weights = make_array(0.1,0.2,0.25,0.15,0.3)

categories = make_array('Homework','Lab','Projects','Midterm','Final')
tot_points_earned = make_array(hw_earned, lab_earned, project_earned, midterm_earned, final_earned)
tot_points_possible = make_array(hw_tot, lab_total, project_total, midterm_total, final_total)

In [71]:
grade_values = Table().with_columns(
    'Categories', categories, 
    'Points Earned', tot_points_earned,
    'Total Points Possible', tot_points_possible,
    'Weights', weights)

In [72]:
grade_values

Categories | Points Earned | Total Points Possible | Weights
Homework   | 671.6         | 698.5                 | 0.1
Lab        | 600           | 700                   | 0.2
Projects   | 94.67         | 100                   | 0.25
Midterm    | 68            | 81                    | 0.15
Final      | 1             | 1                     | 0.3

In [96]:
def grade(grade_values, bonus = False):
    weights = grade_values.column('Weights')
    weighted_sum = grade_values.column('Points Earned')
    weighted_total_points = grade_values.column('Total Points Possible') * weights
    if bonus: 
        weighted_sum += 5
    weighted_sum = weighted_sum * weights
    grade = sum(weighted_sum / weighted_total_points) / len(weights) * 100
    return grade

In [97]:
txt = " Alicia's Expected Final Grade is "
data8 = np.round(grade(grade_values))
print(txt , data8)

 Alicia's Expected Final Grade is  92.0

In [98]:
#astro: 

weights_7b = make_array(0.4, 0.15, 0.45)
categories_7b = make_array('Homework', 'Midterm', 'Final')

hw_7b_earned = sum(make_array(88, 90, 99, 84, 96, 83, 95))
hw_7b_tot = 7 * 100

midterm_7b_earned = 69
midterm_7b_tot = 100

final_7b_earned = 75
final_7b_tot = 100

earned_7b = make_array(hw_7b_earned, midterm_7b_earned, final_7b_earned)
possible_7b = make_array(hw_7b_tot, midterm_7b_tot, final_7b_tot)

In [99]:
values_7b = Table().with_columns(
    'Categories', categories_7b, 
    'Points Earned', earned_7b,
    'Total Points Possible', possible_7b,
    'Weights', weights_7b)

In [100]:
values_7b

Categories | Points Earned | Total Points Possible | Weights
Homework   | 635           | 700                   | 0.4
Midterm    | 69            | 100                   | 0.15
Final      | 75            | 100                   | 0.45

In [101]:
grade_7b = grade(values_7b, True)

In [102]:
print(txt, grade_7b)

 Alicia's Expected Final Grade is  81.8095238095